body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(pics/blacklamb.jpg) no-repeat center center fixed;
    background-size: cover;
}

button {
    background-color: chocolate;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
